@import "utils/_common.less";

/* Format the Play field helper text */
form dl dd.info {
  font-size: 80%;
  font-style: italic;
  float: right;
  margin-right: 5px;
  color: @dark-red;
}

/* User profile page */
.user-profile {
  margin-top: 20px;
}
span.username-profile {
  font-size: 32px;
  font-weight: bold;
}
.image-frame {
  width: 120px;
  height: 120px;
  border: 1px solid @black;
  background: @grey;
  color: white;
  font-size: 110px;
  text-align: center;
}

/* Bonmot post text area size */
#text-area-submit {
  height: 120px;
}
#postForm {
  padding-top: 25px;

  textarea {
    height: 150px;
  }
}

button {
  margin: 3px;
}

