@import "lib/bootstrap/less/bootstrap.less";

@error: #ff4422;
@warning: #ffbb55;
@success: #bbff00;
@default: #00bbff;

@white: #eeeeee;
@grey: #888888;
@black: #333333;

#header {
  background: @black;
  color: @white;
  padding: 10px;

  h1 {
    margin: 0;
    padding: 0;
  }
}

#postForm {
  padding-top: 25px;

  textarea {
    height: 150px;
  }
}

button {
  margin: 3px;
}