@(sessions: List[viewmodels.Session])

@main {
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for(session <- sessions) {
                    <tr>
                        <td>@session.user.username</td>
                        <td>@session.user.email</td>
                        <td>@session.getStatus()</td>
                        <td>@if(!session.user.banned && !session.user.admin) {
                            <form action="@routes.Secure.ban(session.user.email)" method="POST">
                                <button class="btn btn-danger btn-xs" type="submit">
                                    Ban <i class="glyphicon glyphicon-alert"></i></button>
                            </form>
                            }
                            @if(session.getStatus() != "Offline" && !session.user.admin) {
                            <form action="@routes.Secure.expire(session.user.email)" method="POST">
                                <button class="btn btn-warning btn-xs" type="submit">
                                    Expire <i class="glyphicon glyphicon-time"></i></button>
                            </form>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}