@(mot: models.BonMot)

<div class="panel panel-default bonmot" data-bonmot-id="@mot.id">
    <div class="panel-body">
        <span class="words">@mot.text</span>
    </div>
    <div class="panel-footer">
        <div class="small">
            <span class="pull-right"><em class="moment-format" data-moment-date="@mot.createdOn">@mot.createdOn</em></span>
            <span class="pull-left"><a href="/user/@mot.user.username">@{val name = mot.user.username; "@" + name}</a></span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>