@import viewmodels.Login
@(loginForm: Form[Login])

@main {
    @helper.form(routes.Secure.authenticate(), 'class -> "col-sm-4 col-sm-offset-4") {
        @if(loginForm.hasGlobalErrors) {
            <p>
                @loginForm.globalError
            </p>
        }
        @helper.inputText(loginForm("email"), 'class -> "form-control")
        @helper.inputPassword(loginForm("password"), 'class -> "form-control")
        <button class="btn btn-primary" type="submit" name="submit">Login</button>
    }
}