@import play.i18n._
@(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <nav id="header" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">@Messages.get("brand.name")</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" data-action="navigate" data-action-url="@routes.Application.index()"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                        @if(services.SessionStateService.Current() != null) {
                            <li><a href="#" data-action="navigate" data-action-url="@routes.Profile.index()"><i class="glyphicon glyphicon-bullhorn"></i> Post</a></li>
                        }
                        <li><a href="#" data-action="navigate" data-action-url="@routes.Search.index()"><i class="glyphicon glyphicon-search"></i> Search</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if(services.SessionStateService.Current() == null) {
                            <li><a href="#" data-action="navigate" data-action-url="@routes.Secure.signup().url"><i class="glyphicon glyphicon-edit"></i> Sign Up</a></li>
                            <li><a href="#" data-action="navigate" data-action-url="@routes.Secure.login().url"><i class="glyphicon glyphicon-log-out"></i> Login</a></li>
                        } else {
                            @if(services.SessionStateService.Current().user.admin) {
                                <li><a href="#" data-action="navigate" data-action-url="@routes.Admin.index()"><i class="glyphicon glyphicon-user"></i> Users</a></li>
                            }
                            <li><a href="#" data-action="navigate" data-action-url="@routes.Profile.index()">@@@services.SessionStateService.Current().user.username</a></li>
                            <li><a href="#" data-action="logout">Logout <i class="glyphicon glyphicon-log-out"></i></a></li>
                            @helper.form(routes.Secure.logout(), 'hidden -> "hidden", 'id -> "logout-form") { }
                        }

                    </ul>
                </div>
            </div>
        </nav>
        <div id="content" class="container">
            @content
        </div>
        <script src="@routes.Assets.at("lib/jquery/jquery.min.js")" ></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")" ></script>
        <script src="@routes.Assets.at("moment.js")" ></script>
        <script type="text/javascript" src="@routes.Reverse.jsRoutes"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" ></script>
        <script src="@routes.Assets.at("javascripts/bonmot.js")" ></script>
    </body>
</html>
