@(text: String, search: Boolean, mots: java.util.List[models.BonMot], message: String)

@main {
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>Search</h2>
        <form method="GET">
            <input type="text" name="q" class="form-control" placeholder="@@username or #pith" value="@text" autocomplete="off"/>
            <button class="btn btn-primary pull-right" type="submit">Search <i class="glyphicon glyphicon-search"></i></button>
            <div class="clearfix"></div>
        </form>
        <hr />
        @if(search) {
            @if(mots.size() == 0) {
                <strong>@message</strong>
            } else {
                @bonmots(mots)
            }
        }
    </div>
    <div class="col-sm-4"></div>
}