@import viewmodels.Signup
@(signupForm: Form[Signup])

@main {

    @helper.form(routes.Secure.register(), 'class -> "col-sm-4 col-sm-offset-4") {

        @if(signupForm.hasGlobalErrors) {
            <p>
                <!-- TODO -->
            @signupForm.globalError

            </p>
        }

        @helper.inputText(signupForm("username"), 'class -> "form-control", '_label -> "Username")
        @helper.inputText(signupForm("email"), 'class -> "form-control", '_label -> "Email")
        @helper.inputPassword(signupForm("password"), 'class -> "form-control", '_label -> "Password")
        @helper.inputPassword(signupForm("passwordMatch"), 'class -> "form-control", '_label -> "Confirm Password")
        <button class="btn btn-primary" type="submit" name="submit">Signup</button>
    }
}
